@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary antialiased bg-base-50;
  }

  .custom-scrollbar {
    --scrollbarBG: rgb(255, 247, 213);
    --thumbBG: rgb(232, 161, 103);
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  .custom-scrollbar::-webkit-scrollbar {
    @apply w-2;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply border-2 rounded-md;
    background-color: var(--thumbBG);
    border-color: var(--scrollbarBG);
  }

  .gradient-text {
    background: linear-gradient(90deg, #ea580c, #8b5cf6, #2563eb) 0 0 / 400% 100%;
  }
}
